.ways-of-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrap {
        width: 1110px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #1F1F1F;
    }
    &__row {
        display: flex;
        margin-top: 67px;
    }
    &__left {
        width: 350px;
        min-width: 350px;
    }
    &__img {
        width: 350px;
        height: 224px;
        &--svg {
            width: 220px;
            height: 346px;
        }
    }
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        &--qr {
            margin-top: 50px;
        }
    }
    &__text {
        margin-top: 18px;
        font-size: 14px;
        line-height: 19px;
        &--termin {
            font-weight: 600;
        }
    }
    &__info {
        width: 350px;
        margin-top: 33px;
        font-size: 14px;
        line-height: 19px;
    }
    &__right {
        margin-left: 24px;
        width: 100%;
    }
    &__lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__list {
        margin-top: 24px;
        // &:last-child {
        //     padding-right: 25px;
        // }
        &--qr {
            margin-top: 18px;
            list-style: inside;
        }
    }
    &__item {
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 24px;
        &--card {
            display: flex;
            align-items: flex-start;
            width: 350px;
        }
        &--qr {
            margin-bottom: 7px;
            span {
                margin-left: -8px;
            }
            &::marker {
                color: #10517B;
                font-size: 16px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__svg {
        width: 24px;
        height: 24px;
        margin-right: 15px;
    }
    &__button {
        margin-top: 28px;
        background: #1B73AA;
        border-radius: 33px;
        font-family: 'Open Sans';
        font-weight: 300;
        border-radius: 33px;
        font-size: 18px;
        line-height: 25px;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 11px 108px 12px 108px;
        cursor: pointer;
        transition: .3s;
        &-svg {
            margin-right: 6px;
        }
        &:hover {
            background: #10517b;
        }
    }
}

@media (max-width: 1148px) {
    .ways-of-payment {
        &__wrap {
            padding: 0 19px;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .ways-of-payment {
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__right {
            margin-top: -5px;
        }
        &__list {
            margin-top: 20px;
        }
        &__item {
            margin-bottom: 20px;
            &--qr {
                width: 350px;
            }
        }
    }
}

@media (max-width: 760px) {
    .ways-of-payment {
        &__right {
            margin: 49px 0 0 0;
        }
        &__row {
            flex-direction: column;
        }
        &__lists {
            flex-direction: column;
        }
        &__item {
            width: fit-content;
        }
    }
}

@media (max-width: 500px) {
    .ways-of-payment {
        &__wrap {
            padding: 0 16px;
        }
        &__right {
            margin: 49px 0 0 0;
        }
        &__row {
            flex-direction: column;
        }
        &__lists {
            flex-direction: column;
        }
        &__item {
            width: fit-content;
        }
    }
}

@media (max-width: 400px) {
    .ways-of-payment {
        &__left {
            width: 100%;
            min-width: unset;
        }
        &__img {
            width: 100%;
            height: auto;
            &--svg {
                width: 60%;
            }
        }
        &__info {
            width: 100%;
        }
        &__button {
            width: 100%;
            padding: 11px 77px 12px;
        }
        &__subtitle {
            &--qr {
                margin: 0;
            }
        }
    }
}