.improvement-card {
    display: flex;
    justify-content: center;
    margin-bottom: 127px;
    &__wrap {
        width: 1110px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #1F1F1F;
        text-align: center;
    }
    &__row {
        margin-top: 94px;
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
    }
    &__select {
        background: #fff;
        border-radius: 8px;
        width: 255px;
        height: 48px;
        color: #000;
        font-size: 16px;
        line-height: 22px;
        padding-left: 8px;
        transition: .3s;
        margin: 0 30px 0 0;
        border: 1px solid #1B73AA;
        border-radius: 8px;
    }
    &__label {
        font-size: 16px;
        line-height: 150%;
        position: relative;
        &-text {
            position: absolute;
            bottom: 100%;
            margin-bottom: 11px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
    }
    &__button {
        font-family: 'Open Sans';
        font-weight: 300;
        background: #1B73AA;
        border-radius: 33px;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 8px 50px 8px 46px;
        margin-right: 19px;
        cursor: pointer;
        transition: 0.3s;
        &-svg {
            margin-right: 9px;
            &--improvement {
                margin-right: 6px;
            }
        }
        &:hover {
            background: #10517B;
        }
        &.active {
            background: #10517B;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 1148px) {
    .improvement-card {
        &__wrap {
            padding: 0 19px;
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .improvement-card {
        &__row {
            flex-direction: column;
            align-items: flex-start;
        }
        &__buttons {
            margin-top: 36px;
        }
    }
}

@media (max-width: 680px) {
    .improvement-card {
        &__row {
            margin-top: 79px;
        }
        &__buttons {
            flex-direction: column;
            margin-top: 36px;
        }
        &__button {
            padding: 11px 49px 12px 50px;
            margin-top: 25px;
            margin-right: 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                padding: 11px 28px 12px 29px;
            }
        }
        &__label {
            &-text {
                position: unset;
            }
        }
    }
}

@media (max-width: 500px) {
    .improvement-card {
        &__wrap {
            padding: 0 16px;
        }
        &__buttons {
            margin-top: 29px;
            width: 100%;
        }
        &__button {
            width: 100%;
            padding: 11px 48px 12px 48px;
            margin-top: 25px;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                padding: 11px 25px 12px 25px;
            }
        }
        &__label {
            width: 100%;
        }
        &__select {
            width: 100%;
        }
    }
}