.header-panel {
    display: flex;
    justify-content: center;
    &__wrap {
        width: 1110px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__lang {
        margin-left: 22px;
        width: 44px;
    }
    &__search {
        display: flex;
        &-input {
            font-family: 'Open Sans', sans-serif;
        }
        &-svg {
            cursor: pointer;
            stroke: #10517B;
            &:hover {
                stroke: #1B73AA
            }
        }
        &-label {
            display: flex;
        }
    }
}

@media (max-width: 1148px) {
    .header-panel {
        &__wrap {
            width: 100%;
            padding: 0 19px;
        }
    }
}

@media (max-width: 768px) {
    .header-panel {
        &__lang {
            margin-left: 18px;
        }
    }
}

@media (max-width: 500px) {
    .header-panel {
        min-height: 67px;
    }
}