.placement {
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    &__wrap {
        width: 1110px;
        display: flex;
        align-items: center;
    }
    &__location {
        background: #1B73AA;
        border-radius: 8px;
        width: 255px;
        height: 48px;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        position: relative; 
        &-select {
            background: #1B73AA;
            border-radius: 8px;
            width: 255px;
            height: 48px;
            color: #fff;
            font-size: 16px;
            line-height: 22px;
            padding-left: 35px;
            transition: 0.3s;
            margin: 14px 0 10px 0;
            transition: 0.3s;
            &:hover {
                background: #10517B;
            }
        }
        &-svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            z-index: 1;
        }
    }
    &__list {
        margin-left: 31px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin-right: 37px;
        padding: 8px 7px;
        transition: 0.3s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background: #ECEFF1;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #1F1F1F;
        svg {
            margin-right: 7px;
        }
    }
}

@media (max-width: 1148px) {
    .placement {
        &__wrap {
            padding: 0 19px;
        }
    }
}

@media (max-width: 928px) {
    .placement {
        &__wrap {
            align-items: flex-start;
        }
    }
}

@media (max-width: 550px) {
    .placement {
        &__wrap {
            flex-direction: column;
        }
        &__list {
            flex-direction: column;
            margin-left: 0;
        }
        &__item {
            margin-right: 0;
        }
    }
}

@media (max-width: 500px) {
    .placement {
        &__wrap {
            padding: 0 16px;
        }
        &__location {
            &-select {
                width: 100%;
            }
        }
    }
}