@import './fonts';
@import './config';
@import './svg';

@import './UI/select';

@import './header/header';
@import './header/header-panel';
@import './header/header-menu';
@import './header/nav';

@import './e-ticket';

@import './placement';

@import './trolleybus';

@import './improvement-card/improvement-card';
@import './improvement-card/comfortable-card';
@import './improvement-card/replenishment-points';
@import './improvement-card/replenishment-points-grid';
@import './improvement-card/grid';

@import './ways-of-payment';

@import './mobile-app';

@import './question';

@import './footer/footer';